[submodule "themes/re-terminal"]
	path = themes/re-terminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/terminalcv"]
	path = themes/terminalcv
	url = https://github.com/4s3ti/terminalcv.git
[submodule "content/showcase/themes/terminalcv"]
	path = content/showcase/themes/terminalcv
	url = https://github.com/4s3ti/terminalcv.git
